$primary-color: #aa2e30;
$secondary-color: #00a0e3;
$black: #111;
$dark-gray: #222;
$gray: #333;
$light-gray: #444;
$white: #eee;

// $primary-color: #aa2e30;
// $secondary-color: #00a0e3;
// $black: #111;
// $dark-gray: #eee;
// $gray: #ccc;
// $light-gray: #444;
// $white: #111;
