@import './variables';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-padding-top: 88px;
}

body {
	position: relative;
	font-size: 20px;
	font-family: 'Genos', sans-serif;
	color: $white;
	background-color: $dark-gray;
}

h1 {
	font-size: 38px;
}

h1::first-letter {
	text-transform: uppercase;
	font-size: 76px;
	font-weight: bold;
	color: $primary-color;
}

h2 {
	margin: 0;
	font-size: 32px;
	text-align: center;
}

h2::first-letter {
	text-transform: uppercase;
	font-size: 64px;
	font-weight: bold;
	color: $primary-color;
}

a {
	text-decoration: none;
}

.bold {
	font-weight: bold;
	letter-spacing: 2px;
}

.primary-color {
	color: $primary-color;
}

.focus {
	color: $white;
	font-weight: 600;
	text-transform: uppercase;
	border-radius: 10px;
	background-color: $primary-color;
	transition: color 0.3s, background-color 0.3s;
}

.focus:hover {
	color: $primary-color;
	background-color: $white;
}

.focus.active {
	background-color: $white;
}

.icon {
	text-shadow: 4px 4px 2px $black;
}

.hero {
	position: relative;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	z-index: 1;
}

.hero-shadow {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(17, 17, 17, 0.8);
	z-index: -1;
}

// navigation

.navbar {
	letter-spacing: 1px;
	text-transform: uppercase;
	background-color: $dark-gray;
	z-index: 5;
	box-shadow: 0 0 10px $black;

	.fas {
		color: $white;
		display: none;
	}

	.visible {
		display: block;
	}

	.navbar-brand {
		letter-spacing: 2px;
		color: $white;
	}

	.nav-link {
		align-self: flex-start;
		color: $white;
		font-weight: 600;
		transition: color 0.3s;
	}

	.nav-link:hover {
		color: $primary-color;
	}

	.nav-link.active {
		color: $primary-color;
	}
}

// header

.header {
	display: flex;
	align-items: center;
	margin-top: 88px;
	background-image: url('../img/header-small.jpg');

	.header-text {
		background-color: rgba(17, 17, 17, 0.8);
	}

	h3 {
		font-size: 32px;
		margin-bottom: 30px;
	}

	h4 {
		text-transform: uppercase;
	}

	.btn {
		margin: 30px 0;
		padding: 5px 10px;
		font-size: 20px;
		letter-spacing: 1px;
	}

	p {
		margin: 0;
		font-size: 300px;
	}
}

section {
	display: flex;
	align-items: center;
}

// about

.about {
	background-color: $dark-gray;

	.about-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
		transition: transform 0.3s;
		background-color: $gray;
		// box-shadow: 0 0 10px $black;
	}

	.about-item:hover {
		transform: scale(0.95);
	}

	i {
		font-size: 32px;
		margin-bottom: 20px;
	}

	h3 {
		font-size: 24px;
		text-transform: uppercase;
	}

	p:before {
		content: '';
		display: block;
		width: 60px;
		height: 2px;
		margin: 10px auto;
		background-color: $dark-gray;
	}
}

// sentence

.sentence {
	background-image: url('../img/sentence-small.jpg');

	.sentence-text {
		font-size: 18px;
		z-index: 2;
	}
}

// offer

.offer {
	background-color: $dark-gray;
	.nav-item {
		button {
			text-transform: uppercase;
			font-weight: 600;
			color: $white;
			background-color: transparent;
			border: none;
			border-radius: 10px;
			transition: background-color 0.3s;
		}

		button:hover {
			background-color: $gray;
		}

		button.active {
			background-color: $gray;
		}

		button:first-of-type {
			margin-right: 5px;
		}
	}

	.accordion-item {
		border: none;
		overflow: hidden;
		border-radius: 0px;
		background-color: transparent;
		// box-shadow: 0 0 10px $black;
	}

	.accordion-button {
		display: flex;
		flex-direction: column;
		align-items: stretch;
	}

	.accordion-button.collapsed h3 {
		// background-color: transparent;
		background-color: $gray;
	}

	.accordion-button.collapsed .accordion-img {
		filter: brightness(0.6);
	}

	.accordion-button i {
		transform: rotate(-180deg);
		transition: transform 0.3s;
	}

	.accordion-img-container {
		height: 200px;
		overflow: hidden;
	}

	.accordion-img {
		background-size: cover;
		background-position: center;
		filter: brightness(1);
		transition: transform 0.3s, filter 0.3s;
	}

	.accordion-button:hover .accordion-img {
		transform: scale(1.1);
		filter: brightness(1);
	}

	.accordion-button:hover h3 {
		background-color: $gray;
	}

	.accordion-button::after {
		display: none;
	}

	h3 {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 20px;
		background-color: $gray;
		text-transform: uppercase;
		color: $white;
		transition: background-color 0.3s;
	}

	.accordion-button.collapsed i {
		margin-left: 10px;
		transform: rotate(0deg);
	}

	.accordion-button i {
		transform: rotate(-180deg);
		transition: transform 0.3s;
	}

	.accordion-img-1 {
		background-image: url('../img/product1.2-small.jpg');
	}
	.accordion-img-2 {
		background-image: url('../img/product2-small.jpg');
	}
	.accordion-img-3 {
		background-image: url('../img/product3.1-small.jpg');
	}
	.accordion-img-4 {
		background-image: url('../img/product4-small.jpg');
	}
	.accordion-img-5 {
		background-image: url('../img/product5-small.jpg');
	}
	.accordion-img-6 {
		background-image: url('../img/product6-small.jpg');
	}

	.accordion-img-1S {
		background-image: url('../img/service1-small.jpg');
	}
	.accordion-img-2S {
		background-image: url('../img/service2.1-small.jpg');
	}
	.accordion-img-3S {
		background-image: url('../img/service3-small.jpg');
	}
	.accordion-img-4S {
		background-image: url('../img/service4.1-small.jpg');
	}

	.accordion-body {
		background-color: $gray;

		ul {
			list-style: none;
			padding: 0;
			margin: 0;
		}

		li {
			display: flex;
		}

		p {
			margin: 0;
		}

		i {
			margin-right: 16px;
			font-size: 16px;
			color: $primary-color;
		}
	}

	.info {
		display: flex;
	}

	.info-link {
		color: $white;
		transition: color 0.3s;
	}

	.info-link:hover {
		color: $primary-color;
	}

	.fa-info {
		margin-right: 10px;
		font-size: 16px;
		color: $primary-color;
	}
}

.contact {
	background-image: url('../img//contact1-small.jpg');

	.contact-info {
		background-color: #11111199;
	}

	.contact-info-title {
		text-transform: uppercase;
	}

	.contact-item {
		display: flex;

		&--form {
			flex-direction: column;
			text-align: left;
			text-transform: uppercase;
		}
	}

	.contact-link {
		color: $white;
		transition: color 0.3s;
		text-align: left;
	}

	span:before {
		content: '\a';
		white-space: pre;
	}

	.contact-link:hover {
		color: $gray;
		color: $primary-color;
	}

	.fas {
		margin-right: 16px;
		font-size: 16px;
		color: $gray;
		color: $primary-color;
	}

	form {
		input {
			background-color: $white;
			border: none;
		}

		textarea {
			background-color: $white;
			border: none;
			min-height: 200px;
			resize: vertical;
		}

		button {
			align-self: flex-end;
		}
	}
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 88px;
	background-color: $dark-gray;

	p {
		margin: 0;
	}
}

.burger {
	position: relative;
	height: 40px;
	width: 40px;
	// background-color: red;
}

.burger__line {
	position: absolute;
	left: 7px;
	width: 26px;
	height: 3px;
	transform: scaleX(0.4);
	transform-origin: right;
	background-color: $white;
	transition: 0.3s;
}

.burger__line--line1 {
	bottom: 10px;
	transform: scaleX(0.4);
}

.burger__line--line2 {
	bottom: 19px;
	transform: scaleX(0.7);
}

.burger__line--line3 {
	bottom: 28px;
	transform: scaleX(1);
}

.burger:hover .burger__line {
	transform: scaleX(1);
}

.js-burger__line1--active {
	transform-origin: left;
	transform: rotate(-45deg) scaleX(0.7) translate(8px, 4px);
}

.js-burger__line2--active {
	display: none;
}

.js-burger__line3--active {
	transform-origin: left;
	transform: rotate(45deg) scaleX(0.7) translate(11px, -2px);
}

.burger.active:hover .burger__line.burger__line--line1 {
	transform: rotate(-45deg) scaleX(1) translate(2px, 4px);
}

.burger.active:hover .burger__line.burger__line--line3 {
	transform: rotate(45deg) scaleX(1) translate(4px, -2px);
}

// media queries

@media (min-width: 375px) {
	.sentence {
		.sentence-text {
			font-size: 20px;
		}
	}
}

@media (min-width: 576px) {
	h1 {
		font-size: 48px;
	}

	h1::first-letter {
		font-size: 96px;
	}

	h2 {
		font-size: 38px;
	}

	h2::first-letter {
		font-size: 76px;
	}

	.header {
		h3 {
			font-size: 38px;
		}

		.btn {
			margin: 30px 0;
			padding: 10px 20px;
		}
	}

	.about {
		i {
			font-size: 42px;
			margin-bottom: 30px;
		}
	}

	.sentence {
		.sentence-text {
			padding: 80px 20px;
			line-height: 1.8;
		}
	}
}

@media (min-width: 992px) {
	.header {
		background-image: url('../img/header-big.jpg');
	}

	.sentence {
		// background-image: url('../img/sentence-big.jpg');

		.sentence-text {
			padding: 120px 40px;
			font-size: 24px;
		}
	}

	.navbar {
		height: 88px;

		.navbar-brand {
			font-size: 24px;
		}
	}

	.contact {
		form {
			button {
				font-size: 20px;
			}
		}
	}
}

@media (min-width: 1200px) {
	header,
	.about,
	.offer,
	.sentence {
		min-height: calc(100vh - 88px);
	}

	.contact {
		min-height: calc(100vh - 176px);
	}

	h1 {
		font-size: 56px;
	}

	h1::first-letter {
		font-size: 112px;
	}

	h2 {
		font-size: 46px;
	}

	h2::first-letter {
		font-size: 92px;
	}

	.header {
		h3 {
			font-size: 42px;
		}

		p {
			font-size: 340px;
		}
	}

	.sentence {
		.sentence-text {
			font-size: 28px;
		}
	}

	.contact {
		.contact-info {
			font-size: 24px;
		}

		form {
			button {
				font-size: 24px;
			}
		}
	}
}
