@import './variables';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-padding-top: 78px;
}

body {
	position: relative;
	font-size: 20px;
	font-family: 'Genos', sans-serif;
	color: $white;
	background-color: $dark-gray;
}

h1 {
	font-size: 38px;
}

h1::first-letter {
	text-transform: uppercase;
	font-size: 76px;
	font-weight: bold;
	color: $primary-color;
}

h2 {
	font-size: 32px;
	text-align: center;
}

h2::first-letter {
	text-transform: uppercase;
	font-size: 64px;
	font-weight: bold;
	color: $primary-color;
}

a {
	text-decoration: none;
}

.primary-color {
	color: $primary-color;
}

.focus {
	color: $white;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 10px;
	background-color: $primary-color;
	transition: color 0.3s, background-color 0.3s;
}

.focus:hover {
	color: $primary-color;
	background-color: $white;
}

.focus.active {
	background-color: $white;
}

.icon {
	text-shadow: 4px 4px 2px $black;
}

// navigation

.navbar {
	letter-spacing: 1px;
	text-transform: uppercase;
	background-color: $dark-gray;
	z-index: 5;
	box-shadow: 0 0 10px $black;

	.fas {
		color: $white;
		display: none;
	}

	.visible {
		display: block;
	}

	.navbar-brand {
		letter-spacing: 2px;
		color: $white;
	}

	.nav-link {
		align-self: flex-start;
		color: $white;
		font-weight: bold;
		transition: color 0.3s;
	}

	.nav-link:hover {
		color: $primary-color;
	}

	.nav-link.active {
		color: $primary-color;
	}
}

// header

.header {
	position: relative;
	display: flex;
	align-items: center;
	margin-top: 78px;
	overflow: hidden;
	background-color: $dark-gray;

	h3 {
		font-size: 32px;
		margin-bottom: 30px;
	}

	h4 {
		text-transform: uppercase;
	}

	.btn {
		margin: 30px 0;
		padding: 5px 10px;
		font-size: 20px;
		letter-spacing: 1px;
	}

	p {
		margin: 0;
		font-size: 300px;
	}
}

// about

.about {
	background-color: $gray;

	.about-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
		box-shadow: 0 0 10px $dark-gray;
		transition: transform 0.3s;
	}

	.about-item:hover {
		transform: scale(0.95);
	}

	i {
		font-size: 32px;
		margin-bottom: 20px;
	}

	h3 {
		font-size: 24px;
		text-transform: uppercase;
	}

	p:before {
		content: '';
		display: block;
		width: 60px;
		height: 2px;
		margin: 10px auto;
		background-color: $dark-gray;
	}
}

// offer

.offer {
	background-color: $dark-gray;
	.nav-item {
		button {
			text-transform: uppercase;
			font-weight: bold;
			color: $white;
			background-color: transparent;
			border: none;
			border-radius: 10px;
			transition: background-color 0.3s;
		}

		button:hover {
			background-color: $gray;
		}

		button.active {
			background-color: $gray;
		}

		button:first-of-type {
			margin-right: 5px;
		}
	}

	.accordion-item {
		border: none;
		overflow: hidden;
		// border-radius: 10px;
		border-radius: 0px;
		background-color: transparent;
		box-shadow: 0 0 10px $black;
	}

	.accordion-button {
		display: flex;
		flex-direction: column;
		align-items: stretch;
	}

	.accordion-button.collapsed h3 {
		background-color: transparent;
	}

	.accordion-button.collapsed .accordion-img {
		filter: brightness(0.8);
	}

	.accordion-button i {
		transform: rotate(-180deg);
		transition: transform 0.3s;
	}

	.accordion-img-container {
		height: 200px;
		overflow: hidden;
	}

	.accordion-img {
		background-size: cover;
		background-position: center;
		filter: brightness(1);
		transition: transform 0.3s, filter 0.3s;
	}

	.accordion-button:hover .accordion-img {
		transform: scale(1.1);
		filter: brightness(1);
	}

	.accordion-button:hover h3 {
		background-color: $gray;
	}

	.accordion-button::after {
		display: none;
	}

	h3 {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 20px;
		background-color: $gray;
		text-transform: uppercase;
		color: $white;
		transition: background-color 0.3s;
	}

	.accordion-button.collapsed i {
		margin-left: 10px;
		transform: rotate(0deg);
	}

	.accordion-button i {
		transform: rotate(-180deg);
		transition: transform 0.3s;
	}

	.accordion-img-1 {
		background-image: url('../img/product1.2-small.jpg');
	}
	.accordion-img-2 {
		background-image: url('../img/product2-small.jpg');
	}
	.accordion-img-3 {
		background-image: url('../img/product3.1-small.jpg');
	}
	.accordion-img-4 {
		background-image: url('../img/product4.1-small.jpg');
	}
	.accordion-img-5 {
		background-image: url('../img/product5-small.jpg');
	}
	.accordion-img-6 {
		background-image: url('../img/product6-small.jpg');
	}

	.accordion-body {
		background-color: $gray;

		ul {
			list-style: none;
			padding: 0;
			margin: 0;
		}

		li {
			display: flex;
		}

		p {
			margin: 0;
		}

		i {
			margin-right: 16px;
			font-size: 16px;
			color: $primary-color;
		}
	}
}

section {
	background-color: $gray;
}

.contact {
	height: 100vh;
}

// media queries

@media (min-width: 576px) {
	h1 {
		font-size: 48px;
	}

	h1::first-letter {
		font-size: 96px;
	}

	h2 {
		font-size: 38px;
	}

	h2::first-letter {
		font-size: 76px;
	}

	.header {
		h3 {
			font-size: 38px;
		}

		.btn {
			margin: 30px 0;
			padding: 10px 20px;
		}
	}

	.about {
		i {
			font-size: 42px;
			margin-bottom: 30px;
		}
	}
}

@media (min-width: 992px) {
	.navbar {
		height: 78px;

		.navbar-brand {
			font-size: 24px;
		}
	}
}

@media (min-width: 1200px) {
	header,
	section {
		height: calc(100vh - 78px);
	}

	h1 {
		font-size: 56px;
	}

	h1::first-letter {
		font-size: 112px;
	}

	h2 {
		font-size: 46px;
	}

	h2::first-letter {
		font-size: 92px;
	}

	.header {
		h3 {
			font-size: 42px;
		}

		p {
			font-size: 340px;
		}
	}
}
